<mat-toolbar class="navbar">
    <p class="heading">NTA</p>
    <span class="spacer"></span>
    <button class="titleButton" routerLink="">Home</button>
    <button class="titleButton" routerLink="anlysis-report">Scan Report</button>
  </mat-toolbar>


<div class="card-header">
    <p>Network Traffic Analysis</p>
</div>
<div class="card-body justify-content-center">
    <p>Network Traffic Analysis is an online tool which detects and<br> analyze pocket sniffer and helps you to keep your data safe and secure !</p>
</div>
<div class="card-footer">
    <button class="btn" routerLink="anlysis-report">Scan&nbsp;Network</button>
</div>
<img src="../../../../../assets/hero.png" width="100%;"/>