
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Network-Traffic-Analysis-primary: mat.define-palette(mat.$indigo-palette);
$Network-Traffic-Analysis-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Network-Traffic-Analysis-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Network-Traffic-Analysis-theme: mat.define-light-theme((
  color: (
    primary: $Network-Traffic-Analysis-primary,
    accent: $Network-Traffic-Analysis-accent,
    warn: $Network-Traffic-Analysis-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Network-Traffic-Analysis-theme);

@import url('//db.onlinewebfonts.com/c/bb018e64d01355748d8ddc53553850b9?family=Cerebri+Sans');

@font-face {font-family: "Cerebri Sans"; 
    src: url("//db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.eot"); 
    src: url("//db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/bb018e64d01355748d8ddc53553850b9.svg#Cerebri Sans") format("svg"); }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
